<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example App</title>
    <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
	<headers>{{> navbar}}</headers>
    {{{body}}}
    <nav>{{> footer}}</nav>
</body>
</html>